@model IEnumerable<ClassLibrary.Entity.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index">
    <input type="text" name="id" value="@ViewBag.SearchText" />
    <input type="submit" value="Search" class="btn-dark" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                CostPrice
            </th>
            <th>
                RetailPrice
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CostPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CostPrice)
                </td>
                <td>
                    <a asp-action="AddProduct"
                       asp-controller="Product"
                       asp-route-id="@item.Id">Select</a>
                </td>
            </tr>
        }
    </tbody>
</table>
